<div class="container">
	<h1 class="left">
		<b>Add Administrator</b>
	</h1>
</div>
<div class="container">
	<div class="container div-admin">
		<ul>
		<li class="list-admin-text">Username</li>
		<li class="list-admin-input"><input ng-model='username' class='' type="text" name="username" placeholder="Username"></li>
		</ul>
	</div>
	<!--<span class='navbar-text'>Password:</span>-->
	<div class="container div-admin">
		<ul>
		<li class="list-admin-text">Password</li>
		<li class="list-admin-input"><input ng-model='password' class='' type="password" name="password" placeholder="Password"></li>
		</ul>
	</div>
	<div class="container div-admin">
		<ul>
		<li class="list-admin-text">Confirm Password</li>
		<li class="list-admin-input"><input ng-model='passwordConfirm' class='' type="password" name="password" placeholder="Confirm Password"></li>
		</ul>
	</div>
	<div class='right'>
		<ul >
			<li><a>Account<span class='caret'></span></a>
				<ul>
					<li><a>Add Admin</a></li>
					<li><a>My Information</a></li>
					<li><a>Edit My Settings</a></li>
					<li><a>Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>